body {
    background-color: #f0f4f8;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #2b6cb0;
    font-size: 3rem;
}

p {
    color: #4a5568;
    font-size: 1.2rem;
}
